@import "tailwindcss";

@theme {
  --color-primary: #fcf5e8;
  --color-secondary: #4d4637;
  --color-accent: #ffd32c;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply bg-primary flex flex-col min-h-screen font-[family-name:var(--font-lexend)];
  }
  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold text-secondary;
  }
  h2 {
    @apply text-lg md:text-xl lg:text-2xl font-bold text-secondary;
  }
  h3 {
    @apply text-lg md:text-lg lg:text-xl font-bold text-secondary;
  }
  p {
    @apply text-sm md:text-base text-secondary;
  }
  small {
    @apply text-xs md:text-sm font-semibold text-secondary;
  }
  input {
    @apply w-fit outline-none p-4 text-secondary placeholder:text-secondary/50 bg-accent/25 shadow-sm border-2 border-accent/25 hover:shadow-md active:shadow-md focus:shadow-md hover:bg-accent/50 active:bg-accent/50 focus:bg-accent/50 hover:border-secondary active:border-secondary focus:border-secondary transition-all duration-300 ease-in-out;
  }

  ::-webkit-scrollbar-track {
    @apply bg-accent/50;
  }
  ::-webkit-scrollbar {
    @apply w-[.5rem];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }
}

@layer components {
  .icon {
    @apply text-sm md:text-xl text-secondary;
  }
  .button,
  .link {
    @apply w-fit flex items-center justify-center gap-2 cursor-pointer;
  }
  .button {
    @apply p-2 bg-accent shadow-sm border-2 border-secondary/50 hover:shadow-md hover:bg-accent/50 hover:border-secondary transition-all duration-300 ease-in-out;
  }
  .link-child {
    @apply group-hover:text-secondary/75 transition-all duration-300 ease-in-out;
  }
  .react-datepicker {
    @apply shadow-md left-10 border-none;
  }
  .react-datepicker__month-container {
    @apply rounded-t-md;
  }
  .react-datepicker
    .react-datepicker__month-container
    .react-datepicker__header {
    @apply font-[family-name:var(--font-lexend)] text-secondary;
  }
  .react-datepicker__day,
  .react-datepicker__month-text {
    @apply font-[family-name:var(--font-lexend)] text-secondary font-semibold;
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    @apply bg-accent!;
  }
}

@layer utilities {
  .anim-transition {
    @apply transition-all duration-300 ease-in-out;
  }
}